@model ModelBinding.Models.Customers

@{
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <div>
        <h4>Customers</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CustomerId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirsNamae)
            </dt>




            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adress.Line1)
            </dd>


            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adress.Line1)
            </dd>


            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adress.Phone)
            </dd>




            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirsNamae)
            </dd>


            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adress.Country)
            </dd>



            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adress.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </dl>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
